html {
  margin: 0px;
  padding: 0px;
}
body {

  background-color: aliceblue;

}
h3 {
  text-align: center;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  
}
.card-img-top {
  display: block;
  width: 80%;
  height: 200px;
  margin: 20px auto;
  align-items: center;
}
h1 {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 60px;
}
.card {

  -webkit-border-radius: 39px;
  border-radius: 39px;
  background: #bcc5e1;
  -webkit-box-shadow: 11px 11px 27px #757a8c, -11px -11px 27px #ffffff;
  box-shadow: 11px 11px 27px #757a8c, -11px -11px 27px #ffffff;

  max-width: 30%;
  margin: 30px auto;
}
.card-title {
  border: 1px solid lightblue;
  text-align: center;
}
.specbold {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
 
}
.pricing {
  font-weight: bold;
}
.justify {
  text-align: justify;
  
}
.card-body {
  padding: 0px;
}
.card-grey {
  background-color: gray;
  color: yellow;
  margin: 0px;
  padding: 0px;
}
h2 {
  margin: 10px 0px 20px 0px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30x;
}
